*
{

}

body 
{
    display: block;
    justify-content: center;
    background-color:black;
    font-family:Arial, Helvetica, sans-serif;
}

h1
{
    color:#ababab;
}

.mainframe
{
    display:block;
    align-content: center;
    background-color:white;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    max-width: 500px;
    line-height: 200%;
}

.interestform
{
    line-height:200%;
    padding-left: 5%;
    padding-right:5%;   
}

.result
{
    line-height: 100%;
}